# hide virtual env stuff from git
venv/*

# hide pipenv and API keys
pi_dashboard/Pipfile*
pi_dashboard/.env

# hide todo list text file
todo_list.txt

# weird vscode file
.DS_store

# See http://help.github.com/ignore-files/ for more about ignoring files.
