# hide virtual env stuff from git
venv/*

# hide todo list text file
todo_list.txt

# weird vscode file
.DS_store

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out

# Node
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log

# IDEs and editors
frontend/.idea/
frontend/.project
frontend/.classpath
frontend/.c9/
*.launch
frontend/.settings/
*.sublime-workspace

# Visual Studio Code
frontend/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
frontend/.history/*

# Miscellaneous
frontend/.angular/cache
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings

# System files
frontend/.DS_Store
frontend/Thumbs.db
